:root{
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.5rem;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  --color-bg-primary: #bebebe;
  --color-bg-secondary: #ffffff;
  --color-text: #000000;
  color: var(--color-text);
  background: var(--color-bg-primary);
  margin: auto;
}

body.dark {
  --color-bg-primary: #212e37;
  --color-bg-secondary: #2b3743;
  --color-text: #ffffff;
}

.topbar {
  background: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
}

.topbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-theme {
  background: var(--color-bg-secondary);
  cursor: pointer;
  opacity: 1;
  color: var(--color-text);
}

.btn-theme:hover {
  transform: scale(1.1);
}


@media (max-width: 576px) {
  .topbar {
    padding: 1rem 5%;
  }
}