
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  --color-bg-primary: #bebebe;
  --color-bg-secondary: #ffffff;
  --color-text: #000000;
  color: var(--color-text);
  background: var(--color-bg-primary);
}

body.dark {
  --color-bg-primary: #212e37;
  --color-bg-secondary: #2b3743;
  --color-text: #ffffff;
}

.topbar {
  display: flex;
  justify-content: space-between;
}